html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

@font-face {
    font-family: 'Roboto';
    src:local('Roboto');
    src:url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

header {
    background-color: #0068C9;
    height: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo {
    display: block;
    width: 100px;
    height: 119px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
    flex: 1 1 auto;
}

.wrapper {
    padding: 10px;
}

section {
    margin-bottom: 25%;
}

.emblem {
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.red {
    color: red;
}

.button p {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
}

.chris {
    margin-bottom: 0.5em;
}

.bold {
    font-weight: bold;
}


@media (max-width: 1199px) {
    .container {
        width: 960px;
    }
    header {
        background-color: #0068C9;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .logo {
        display: block;
        width: 50px;
        height: 59.5px;
        margin: 0 auto;
    }
    
    h1 {
        font-size: 28px;
    }
}
    
@media (max-width: 991px) {
    .container {
        width: 100%;
    }

    header {
        background-color: #0068C9;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .logo {
        display: block;
        width: 50px;
        height: 59.5px;
        margin: 0 auto;
    }
    
    section {
        padding: 10px;
    }
    
    h1 {
        font-size: 24px;
    }

    .emblem {
        display: block;
        margin: 0 auto;
        margin-bottom: 2em;
        width: 759px;
        height: 900px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    
    header {
        background-color: #0068C9;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .logo {
        display: block;
        width: 25px;
        height: 30px;
        margin: 0 auto;
    }
    
    section {
        padding: 10px;
    }
    
    h1 {
        font-size: 20px;
    }

    .emblem {
        display: block;
        margin: 0 auto;
        margin-bottom: 2em;
        width: 550px;
        height: 652px;
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
    
    header {
        background-color: #0068C9;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .logo {
        display: block;
        width: 25px;
        height: 30px;
        margin: 0 auto;
    }
    
    section {
        padding: 5px;
    }
    
    h1 {
        font-size: 16px;
    }

    .emblem {
        display: block;
        margin: 0 auto;
        margin-bottom: 2em;
        width: 300px;
        height: 356px;
    }
}